Let's Start Python Programming

Keyword are reservered WOrd, can't use in identifier and also case seensitive. there are 33 keywords.

Identifier are the name given to the variable, class and other. they start with alphabet and _ and contains number also.

In [1]:
print("Hello World")

Hello World

In [10]:
a=12
b=24
print("Value of a is {0} and b is {1}".format(a,b))

Value of a is 12 and b is 24

In [12]:
n  = input("kuch dalna ha")
print("apne ye daala",n)

kuch dalna ha45
apne ye daala 45

In [13]:
#comment -  help to understand the code and ignored by the compiler

In [17]:
y = 15
print(id(y))
print(type(y))

2311503741616
<class 'int'>

In [26]:
# We are able to write sring in single, double and triple quotes.
a='hello world'
b = "print hello'to program"
c= ''' today I'm start learning "python" Hello'''
print(a)
print(b)
print(c)
a[0]="k"
print(a) #string is immutable

hello world
print hello'to program
 today I'm start learning "python" Hello

TypeError: 'str' object does not support item assignment

In [22]:
print(a[0])
print(a[-1])
print(len(a))

h
d
11

In [27]:
print(b[0:]) #slicing

print hello'to program

In [30]:
#python list
c =['tcs','wipro','cognizant','google']
print(c)
c[2]= "adobe"
print(c)#list is mutable

['tcs', 'wipro', 'cognizant', 'google']
['tcs', 'wipro', 'adobe', 'google']

Operator are special symbol in python that carry out logical and arithmetic computation.

In [31]:
a = 7
b = 2

# addition
print ('Sum: ', a + b)  

# subtraction
print ('Subtraction: ', a - b)   

# multiplication
print ('Multiplication: ', a * b)  

# division
print ('Division: ', a / b) 

# floor division 
print ('Floor Division: ', a // b)

# modulo / reminder
print ('Modulo: ', a % b)  

# a to the power b
print ('Power: ', a ** b)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulo:  1
Power:  49

In [32]:
# assign 10 to a
a = 10

# assign 5 to b
b = 5 

# assign the sum of a and b to a
a += b      # a = a + b

print(a)

# Output: 15

15

In [33]:
#Comparision operator
a = 5

b = 2

# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)
#answer in true and false.

a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

In [34]:
# logical AND
print(True and True)     # True
print(True and False)    # False

# logical OR
print(True or False)     # True

# logical NOT
print(not True)          # False

True
False
True
False

In [35]:
#Identity operator
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)  # prints False

print(x2 is y2)  # prints True

print(x3 is y3)  # prints False

False
True
False

In [36]:
#Membership operator
message = 'Hello world'
dict1 = {1:'a', 2:'b'}

# check if 'H' is present in message string
print('H' in message)  # prints True

# check if 'hello' is present in message string
print('hello' not in message)  # prints True

# check if '1' key is present in dict1
print(1 in dict1)  # prints True

# check if 'a' key is present in dict1
print('a' in dict1)  # prints False

True
True
True
False

In [37]:
#If elif else condition
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [38]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [39]:
#Python loop are used to do work many times - for,while loop.

In [40]:
a = int(input('Enter a number (-1 to quit): '))

while a != -1:
    a = int(input('Enter a number (-1 to quit): '))

Enter a number (-1 to quit): 4
Enter a number (-1 to quit): 5
Enter a number (-1 to quit): 5
Enter a number (-1 to quit): 1
Enter a number (-1 to quit): 0
Enter a number (-1 to quit): -2
Enter a number (-1 to quit): -1

In [41]:
a = 'learn-together'
i = 0

while i < len(a):
    i += 1
    pass
  
print('Value of i :', i)

Value of i : 14

In [42]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [43]:
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [44]:
# Iterating over a list
l = ["learn", "data", "together"]

for i in l:
    print(i)

learn
data
together

In [45]:
#List data structure is mostly used in python.
List = ['Mathematics', 'chemistry', 1997, 2000]
List.append(20544)
print(List)
List.insert(2, 10087)
print(List)

['Mathematics', 'chemistry', 1997, 2000, 20544]
['Mathematics', 'chemistry', 10087, 1997, 2000, 20544]

In [47]:
List1 = [1, 2, 3]
List2 = [2, 3, 4, 5]

# Add List2 to List1
List1.extend(List2)
print(List1)
print(sum(List1))

[1, 2, 3, 2, 3, 4, 5]
20

In [53]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.count(1))
print(len(List))
print(List.index(2))
print(min(List))

4
10
1
1

In [72]:
List = [1, 2, 3, 1, 2, 4, 3, 2, 6]
print(List.index(2, 2)) #2 second time kaha aa rha haan.
List.reverse()
print(List)
List.sort()
print(List)
print(List.pop())#delete last element
print(List)
del List[0]#remove 0th index element
print(List)
List.remove(3)
print(List)

4
[6, 2, 3, 4, 2, 1, 3, 2, 1]
[1, 1, 2, 2, 2, 3, 3, 4, 6]
6
[1, 1, 2, 2, 2, 3, 3, 4]
[1, 2, 2, 2, 3, 3, 4]
[1, 2, 2, 2, 3, 4]

In [74]:
# Python3 program to show the

text = 'learn Python PROGRAM'
print("\nConverted String:UPPER CASE")
print(text.upper())
    
print("\nConverted String:lower case")
print(text.lower())

print("\nConverted String:title case")
print(text.title())

print("\nConverted String:swapcase")
print(text.swapcase())


print("\nConverted String:capitalize")
print(text.capitalize())


print("\nOriginal String")
print(text)

Converted String:UPPER CASE
LEARN PYTHON PROGRAM

Converted String:lower case
learn python program

Converted String:title case
Learn Python Program

Converted String:swapcase
LEARN pYTHON program

Converted String:capitalize
Learn python program

Original String
learn Python PROGRAM

In [75]:
upper(): Converts all characters in a string to uppercase.
lower(): Converts all characters in a string to lowercase.
find(substring): Returns the lowest index in the string where the substring is found.
strip(): Removes any leading and trailing characters (space is the default).
replace(old, new): Replaces occurrences of a substring within the string.
split(delimiter): Splits the string at the specified delimiter and returns a list of substrings.
join(iterable): Concatenates elements of an iterable with a specified separator.
startswith(prefix): Checks if the string starts with the specified prefix.
endswith(suffix): Checks if the string ends with the specified suffix.

SyntaxError: illegal target for annotation (3469486161.py, line 1)

In [76]:
message = 'Hola Amigos'

# assign new string to message variable
message = 'Hello Friends'

print(message); # prints "Hello Friends"

Hello Friends

In [78]:
str1 = "Hello, world!"
str2 = "I love Swift."


# compare str1 and str2
print(str1 == str2)
result = str1 + str2
print(result)
for letter in result:
    print(letter)

False
Hello, world!I love Swift.
H
e
l
l
o
,

w
o
r
l
d
!
I

l
o
v
e

S
w
i
f
t
.

In [79]:
print('a' in 'program') # True
print('at' not in 'battle') # False

True
False

In [84]:
t= (1,(2,3,1),['hello','world','12'])
print(t)
print(type(t))
print(t[1])
print(t[1][1])

(1, (2, 3, 1), ['hello', 'world', '12'])
<class 'tuple'>
(2, 3, 1)
3

In [90]:
t=(1,2,3)+(3,4,5)
print(t)
print(3 in t)
sorted_tuple = sorted(t)
print(sorted_tuple)

(1, 2, 3, 3, 4, 5)
True
[1, 2, 3, 3, 4, 5]